cache/~$*
_test.php
php-errors.log
mirror/*

#################
## Sublime Text 2
#################

*.sublime-project
*.sublime-workspace
sftp-config.json

############
## Windows
############

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini